.container {
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    margin: 0.4rem auto;
    min-height: 8rem;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  
    .info {
      width: 65%;
      height: 80%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .title {
        margin: 0;
        font-size: 1rem;
        color: black;
      }
  
      .qty {
        display: flex;
        padding-top: 0.5rem;
  
        table.selector {
          border-collapse: collapse;
          border-spacing: 0;
  
          td,
          tr {
            border: 1px solid black;
          }
  
          td.qty {
            font-size: 1rem;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
            width: 1.5rem;
            background-color: transparent;
            border: 0;
            padding: 0.1rem 0.3rem;
            justify-content: center;
          }
  
          button.qty {
            font-size: 1rem;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
            width: 1.5rem;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            padding: 0.1rem 0.55rem;
          }
        }
  
        .remove {
          border: none;
          background-color: transparent;
          margin: 0;
          margin-left: 1rem;
          padding: 0.1rem;
  
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    h5 {
      margin: 0;
      text-align: right;
      font-size: 1rem;
      color: var(--primary-color);
    }
  }