.card {
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 13rem;
  height: 17rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
    color: var(--primary-color);
  }
}
