table.selector {
  border-collapse: collapse;
  border-spacing: 0;

  td,
  tr {
    border: 1px solid black;
  }

  button.qty {
    font-size: 1.5rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    width: 3rem;
    background-color: transparent;
    border: 0;
  }

  input {
    font-size: 1.5rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    width: 4rem;
    background-color: transparent;
    border: 0;

    /* Hide number selector arrows */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
